<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1">Портфолио</h1>
<div class="portfolio_content">
  <% @jobs.each do |j| %>
    <div class="portfolio">
      <div class="portfolio_title"><%= j.title %></div>
      <div class="portfolio_thumb"><%= image_tag j.screen.url(:thumb) %></div>
    </div>
  <% end %>
</div>
<div class="portfolio_paginate">
  <%= will_paginate @ourportfolios %>
</div>
