<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1">Портфолио</h1>
<div class="portfolio_content">
  <% @jobs.each do |j| %>
    <div class="portfolio">
      <div class="portfolio_title"><%= link_to j.title, job_path(j) %></div>
      <div class="portfolio_thumb">
        <%= link_to image_tag(j.screen.url(:thumb)), job_path(j) %>
      </div>
    </div>
  <% end %>
</div>
<div class="portfolio_paginate">
  <%= will_paginate @ourportfolios %>
</div>
