<h1 id="projecth1">Контакты</h1>
<div class="contacts">
<p><b>Республика Казахстан, г.Костанай, Абая 165(здание "Алсер"), 3 этаж, 4 кабинет</b></p>
<p>Телефон: +7 (7142) 544674</p>
<p>Моб.: +7 (777) 694-84-08</p>
<p>e-mail: <a href="mailto:lagox.mail@gmail.com">lagox.mail@gmail.com</a></p>
</div>
