<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="page_index">
  <h1>Создание сайтов</h1>
  <p>
Мы не будем писать почему веб-cайт — не роскошь, а средство продвижения и развития бизнеса. За нас уже давно написали очень много строк. Посмотреть их Вы можете посетив <a href="http://www.google.ru/#sclient=psy&hl=ru&newwindow=1&q=%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D0%B5+%D1%81%D0%B0%D0%B9%D1%82%D0%B0&aq=f&aqi=&aql=&oq=&pbx=1&fp=e4e08114436dc3e5">Google</a>. Разработка сайта очень сложный процесс, который требует полного взаимопонимания и сотрудничества между нами и Вами. Клиенту всегда важен вопрос цены разработки сайта. У нас нет прайс-листа на разработку сайта который описывает, что корпоративный сайт будет стоить столько-то $, а вот интернет-магазин столько-то $. По вопросу цены мы исходим от сложности проекта, от требований и пожеланий клиента.
  </p>
  <h1>Поддержка</h1>
  <p>
Мы предлагаем нашим клиентам дальнейшую поддержку веб-сайта после его непосредственного запуска. Помимо технической поддержки, мы предлагаем обычную поддержку сайта, в нее входят такие услуги, как "обновление сайта", "наполнение контентом", "копирайтинг" и пр.
<p>С ценами можно ознакомиться <%= link_to 'здесь', supportprice_path %></p>
  <h1>Фирменный стиль</h1>
  <p>
Если Вы новая компания, желающая выделиться среди прочих фирм. Фирменный стиль Вам придет на помощь. Ваши качественные товары или услуги, которые вы будете продавать/предоставляеть клиентам, сделают Вам "имя" только через некоторое время. Но для начала клиентов надо как-то привлечь. Самый простой и эффективный способ - это "вкусный" дизайн представляющий вашу фирму. К примеру: Вы врядли не вспомните легендарный логотип и радиаторную решетку автомобиля компании "BMW", при упоминании таких слов как "Бумер", "Бэха" :) Если Вы серьезная фирма, с прицелом на будущее - фирменный стиль Вам рано или поздно будет просто необходим.  
  </p>
</div>
<div id="date_now">
  <script type="text/javascript">
    <!--
    document.write(happy + dayNames[now.getDay()] + ".");
    // -->
  </script>
</div>
