<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1">О нас</h1>
<div class="page_index">
<p>
Веб-студия "Remeli" занимается веб-разработкой. Не стоит объяснять опытному и продвинутому бизнесмену какую роль в его деле играет Интернет. Кто-то до сих пор не в "теме", для таких людей мы предлагаем посетить <a href="http://www.google.kz/search?hl=ru&sa=X&ei=cTePTeifOouWOpjawKAC&ved=0CBkQvwUoAQ&q=%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D0%B5+%D1%81%D0%B0%D0%B9%D1%82%D0%B0+%D0%B2+%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%B5&spell=1">Google</a>, за нас уже достаточно написали.
</p>
<h1>Наши услуги:</h1>
<ul>
  <li>Разработка веб-сайта</li>
  <li>Фирменный стиль</li>
  <li>Техническая поддержка веб-сайтов</li>
</ul>
<h1>Прайс-лист:</h1>
<p>Его нету. Каждый проект стоит разных денег. Каждый сайт - индивидуален. У каждого сайта разный функционал, разный уровень сложности разработки</p>
<h1>P.S</h1>
<p>С нами легко работается</p>
</div>
<div id="date_now">
  <script type="text/javascript">
    <!--
    document.write(happy + dayNames[now.getDay()] + ".");
    // -->
  </script>
</div>
