<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class="page_index">
  <div class="text_about">
    <p id="bruce"><img src="images/l.png" alt=""></p>
    <p>Мы разрабатываем сайты.</p>
    <p>We love: <a href="http://www.ruby-lang.org/en/">Ruby</a>, <a href="http://rubyonrails.org">Ruby on Rails</a>, <a href="http://jquery.com">jQuery</a>, <a href="http://github.com">GitHub</a>, *nix, Capistrano</p>
  </div>
</div>
<div id="date_now">
  <script type="text/javascript">
    <!--
    document.write(happy + dayNames[now.getDay()] + ".");
    // -->
  </script>
</div>
