<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1">О нас</h1>
<div class="page_index">
<p>Веб-студия "Remeli" занимается разработкой полнофункциональных веб-сайтов, разработкой фирменного стиля, продвижением в поисковых системах, технической поддержкой и сопровождением сайтов. В разделе "Проекты" находятся непосредственно наши проекты, пока их не так много. Раздел "Портфолио" содержит в себе работы, которые мы делали нашим клиентам.
</p>
</div>
