<h1 id="projecth1">Поддержка сайта. Цены на услуги</h1>
<div class="page_index">
<h1>Техническая поддержка:</h1>
<p>Администрирование, обновление системы, серверного ПО: от 25000 тенге</p>
<h1>Поддержка сайта:</h1>
<p>Наполнение текстом одной страницы сайта готовым текстом: 1000 тенге.</p>
<p>Написание текста(1000 знаков): от 4000 тенге.</p>
<p>Обработка и вставка фотографии/изображения: от 1000 тенге</p>
<h1>Внештатный менеджер:</h1>
<p>Обязанности:</p>
<ul>
  <li>Наполнение сайта новостями, фотографиями</li>
  <li>SEO, SMO</li>
</ul>
<p>Цена: от 35000 тыс.тенге/мес</p>
</div>
