<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1 id="projecth1" ><%= @project.title %></h1>
<div class="project">  
  <div class="project_url project_url_show"><%= link_to slice_http(@project.url), @project.url %></div>
  <div class="project_description"><%= @project.description %></div>
</div>
